services:
  redis:
    build:
      context: .
      dockerfile: redis.Dockerfile
    expose:
      - 6379
  api:
    build:
      context: .
      dockerfile: api.Dockerfile
    ports:
      - 443           # Azure TTS, Clash, WSS
      - 7000:7000     # APIController
      - 8000:8000     # WebsocketController
      - 8001:8001     # WebsocketController
      - 8002:8002     # WebsocketController
    volumes:
      - ./assets:/var/www/chatty-ai/assets
      - ./cert:/var/www/chatty-ai/cert
      - ./config:/var/www/chatty-ai/config
      - ./data:/var/www/chatty-ai/data
      - ./logs:/var/www/chatty-ai/logs
      - ./src:/var/www/chatty-ai/dist
      - ./static:/var/www/chatty-ai/static
    tty: true
    links:
      - redis
    depends_on:
      - redis
networks:
  default:
    name: chatty-ai
