App:
  APPID: <微信公众号 APPID>
  APPSECRET: <微信公众号 APPSECRET>
  APPTOKEN: <微信公众号 APPTOKEN>
AzureTTS:
  Key: <Azure 语音服务的密钥>
  Region: <Azure 语音服务的位置/区域>
Services:
  OpenAI:
    - <OpenAI API 密钥>
  WeatherService: <天气服务 API 密钥>
  IpService: <IP 地址查询服务 API 密钥>
  ExchangeService: <汇率查询服务 API 密钥>
  MovieService: <电影查询服务 API 密钥>
  JokeService: <笑话查询服务 API 密钥>
Img2Img: <FlagStudio 服务 API 密钥>
Clash: <Clash API 密钥>