MCHID: <微信支付商户号（直连模式）或服务商商户号（服务商模式，即 sp_mchid）>
CERT_SERIAL_NO: <商户证书序列号>
APIV3_KEY: <API v3 密钥，详见 https://pay.weixin.qq.com/wiki/doc/apiv3/wechatpay/wechatpay3_2.shtml>
APPID: <APPID，应用ID或服务商模式下的 sp_appid>